<div *ngIf="!loaded" class="loading">
  <h3>Loading...</h3>
</div>

<ng-container *ngIf="loaded">

  <div class="flex-container">

    <knit-details-form [project]="project" (valueChanges)="onValueChanges($event)">
      <h2>{{ title }}</h2>
      <p>Fill in the form to set up the basics of sweater construction</p>
    </knit-details-form>
  
    <article class="results-container">
      <knit-details-table *ngIf="project" [project]="project">
        <h4>Project Details Overview</h4>
      </knit-details-table>
    </article>

  </div>

</ng-container>