<ng-container *ngIf="project; else loading">

  <div class="flex-container">

    <knit-project-details-form
      [project]="project"
      (save)="onSave($event)"
      (cancel)="onCancel()">
      <h2>{{ title }}</h2>
      <p>Fill in the form to set up the basics of sweater construction</p>
    </knit-project-details-form>
  
    <article class="results-container">
      <knit-project-details-table *ngIf="project"
      [owner]="currentUser$ | async"
      [project]="project">
        <h4>Project Details Overview</h4>
      </knit-project-details-table>
    </article>

  </div>

</ng-container>

<ng-template #loading>
  <div class="loading">
    <h3>Loading...</h3>
  </div>
</ng-template>