<ng-content></ng-content>

<form>
  <fieldset>
    <div class="form-group">
      <label class="custom-control custom-radio">
        <input
          class="custom-control-input"
          [formControl]="is_metric"
          name="is_metric"
          type="radio"
          [value]="true"
        />
        <span class="custom-control-description">Metric</span>
      </label>

      <label class="custom-control custom-radio">
        <input
          class="custom-control-input"
          [formControl]="is_metric"
          name="is_metric"
          type="radio"
          [value]="false"
        />
        <span class="custom-control-description">Imperial</span>
      </label>
    </div>

    <div class="form-group">
      <label for="projectName">Project Name</label>
      <input
        class="form-control"
        type="text"
        [formControl]="projectName"
        name="projectName"
      />
    </div>
  </fieldset>

  <fieldset>
    <legend>Guage</legend>
    <div class="form-group">
      <label for="needles">Needles Size</label>
      <select
        class="form-control needles"
        [formControl]="needlesControl"
        name="needlesMM"
      >
        <option *ngFor="let value of (needles | async)" [value]="value">
          {{ value[0] }}mm ({{ value[1] }} US / {{ value[2] }} UK)
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="guageStitches"
        >Stitches per {{ is_metric.value ? '10 cm' : '4 inches' }}</label
      >
      <input
        class="form-control"
        [formControl]="guage.get('stitches')"
        name="guageStiches"
        type="number"
        min="1"
      />

      <small class="form-text text-muted"
        >The number of stitches horizontally over
        {{ is_metric.value ? '10 cm' : '4 inches' }}</small
      >

      <label for="guageRows"
        >Rows per {{ is_metric.value ? '10 cm' : '4 inches' }}</label
      >
      <input
        class="form-control"
        [formControl]="guage.get('rows')"
        name="guageRows"
        type="number"
        min="1"
      />

      <small class="form-text text-muted"
        >The number of rows vertically over
        {{ is_metric.value ? '10 cm' : '4 inches' }}</small
      >
    </div>
  </fieldset>

  <fieldset>
    <legend>Measurements</legend>

    <div class="form-group">
      <label class="custom-control custom-radio">
        <input
          type="radio"
          class="custom-control-input"
          [formControl]="is_standard"
          name="is_standard"
          [value]="true"
        />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Standard Sizes</span>
      </label>

      <label class="custom-control custom-radio">
        <input
          type="radio"
          class="custom-control-input"
          [formControl]="is_standard"
          name="is_standard"
          [value]="false"
        />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Custom Size</span>
      </label>

      <small class="form-text text-muted"
        >Standard Size pattern includes Men's, Women's & Children's Sizes.
        Custom Size pattern creates a unique pattern for a custom size.</small
      >
    </div>

    <div class="form-group">
      <label for="chest">Chest</label>
      <input
        class="form-control"
        id="chest"
        name="chest"
        [formControl]="measurements.get('chest')"
      />
      <small class="form-text text-muted"
        >Measure the circumference of the torso at the underarms.</small
      >

      <label for="projectName">Torso Length</label>
      <input
        class="form-control"
        name="torso"
        id="torso"
        [formControl]="measurements.get('torso')"
      />
      <small class="form-text text-muted"
        >Measure the length of the torso from bottom of sweater to
        underarms.</small
      >

      <label for="projectName">Sleeve Length</label>
      <input
        class="form-control"
        name="sleeve"
        id="sleeve"
        [formControl]="measurements.get('sleeve')"
      />
      <small class="form-text text-muted"
        >Measure the length of the sleeve from cuff to underarms.</small
      >
    </div>
  </fieldset>
</form>

<div class="actions-container">
  <button
    class="btn btn-success"
    type="button"
    (click)="save.emit(form.getRawValue())"
    [disabled]="form.pristine || form.invalid">
    Save
  </button>

  <button 
    class="btn btn-secondary"
    type="button"
    (click)="cancel.emit()">
    Cancel
  </button>

</div>
