<h1>{{ title }}</h1>

<ng-container *ngIf="(currentUser$  | async) as user; else noUser">
  <ul class="list-group">
  
    <ng-container *ngFor="let project of projects$ | async">
      <li *ngIf="project.owner_id === user.id"
        class="list-group-item">
        <a [routerLink]="['..', project.id]">
          {{ project.name }}
        </a>
        <div class="button-wrapper">
          <button type="button" class="btn btn-primary" (click)="onEdit(project.id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(project.id)">Delete</button>
        </div>
      </li>
    </ng-container>

  </ul>
</ng-container>

<ng-template #noUser>
  <h4>Please select a user.</h4>
</ng-template>