<div class="flex-container">
  <div class="instructions">
    <div class="guage">
      <h4>Guage</h4>
      <p>
        ** {{guageStitches}} stitches and {{guageRows}} rows = {{guageWidth}} x {{guageHeight}} cm ** measured in
        Stockingette Stitch using {{mainNeedle}} needles. Check gauge and adjust needle size if necessary.
      </p>
    </div>
    <div class="overview">
      <h4>Overview</h4>
      <p>
        Body and sleeves are worked in the round from lower edge to underarms, then joined to work yoke in the round.
        Round begins
        at left side of body. On yoke, round begins on the left side of back at the joining of body and sleeve.
        Children’s sizes
        are in brackets.
      </p>
    </div>
    <div class="body">
      <h4>Body</h4>
      <p>
        Cast on {{bodyCastOn}} stitches using {{cuffNeedle}} circular needle, using {{cuffColor}}. Join in a circle and
        work *k1,
        p1* rib for 5 cm (2"). Change to {{mainNeedle}} circular needle and {{bodyPatternChart ? 'work pattern from
        chart 1 in Stockingette
        Stitch. When patt is complete continue' : 'continue in Stockingette Stitch with'}} with {{bodyColor}} until
        body measures
        {{torsoMeasurements}} cm (inches) from cast-on edge. Set aside and work sleeves.
      </p>
    </div>
    <div class="sleeve">
      <h4>Sleeves</h4>
      <P>
        Cast on {{sleeveCastOn}} stitches using {{cuffNeedle}} double-pointed needles, using {{cuffColor}}. Join in a
        circle and
        work *k1, p1* rib for 5 cm (2"). Change to {{mainNeedle}} double-pointed needles and knit one row, increasing
        {{cuffIncrease}}
        stitches => {{sleeveCastOn + cuffIncrease}}. Continue to knit the sleeves pattern in Stockingette Stitch. In
        the {{sleeveIncreaseRound}}th
        row increase 1 sts after the first stitch in the row and 1 stitch before the last stitch in the same row.
        Repeat increases {{sleeveIncreases}} times in every {{sleeveIncreaseRound}}th row. When total stitches reaches
        {{sleeveStitchesFinal}} stitches,
        continue without further increasing until the sleeve measure {{sleeveMeasurements}} cm from the cast on edge.
        Place half of {{underarmStitches}} stitches on either side of the underarm centre on a piece of scrap yarn or a
        stitch holder. Set aside
        and knit the second sleeve in the same way.
      </P>
    </div>
    <div class="yoke">
      <h4>Yoke</h4>
      <p>
        Join body and sleeves as follows: With a {{mainNeedle}} circular needle using {{bodyColor}}, place the last
        {{underarmStitches
        / 2}} stitches and the first {{underarmStitches / 2}} stitches of body on a stitch holder for the left underarm
        opening. Knit
        across the outside of the first (left-hand) sleeve. Knit {{chestAndBackStitches}} stitches of the body to form
        the front of
        the sweater. Place next {{underarmStitches}} stitches of the body on a stitch holder to form the underarm
        opening for the
        right-hand sleeve. Knit across the outside of the second sleeve. Knit the remaining {{chestAndBackStitches}}
        stitches of the
        body => {{initialYokeStitches}} stitches. Knit the yoke pattern and the decreases according to the Yoke
        knitting chart. Change
        to a shorter circular needle when necessary. When chart has been completed => {{finalYokeStitches}} stitches.
      </p>
    </div>
    <div class="neckband">
      <h4>Neckband</h4>
      <p>
        Change to {{cuffNeedle}}, using {{collarColor}}. Knit 1 round decreasing {{collarDecreases}} stitches evenly
        spaced => {{collarStitches}}
        stitches. Work *k1, p1* rib for 7 cm / 2.8" . Bind off loosely.
      </p>
    </div>
    <div class="finishing">
      <h4>Finishing</h4>
      <p>
        Graft underarm sts tog and weave in loose ends. Fold neckband in half to inside and slip stitch in place. Rinse
        sweater by hand in lukewarm water and lay flat to dry in right measurements.
      </p>
    </div>
  </div>
</div>