<article>
  <ng-content></ng-content>

  <h3>{{ project.name }}</h3>
  <ul class="list-group">
    <li class="list-group-item justify-content-between align-items-center">
      Units of measurment:
      <strong>{{ project.is_metric ? 'cm' : 'inches' }}</strong>
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Needles Size:
      <strong
        >{{ needles[0] }}mm ({{ needles[1] }} US / {{ needles[2] }} UK)</strong
      >
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Swatch:
      <strong
        >{{ project.is_metric ? '10 cm' : '4 inches' }} x
        {{ project.is_metric ? '10 cm' : '4 inches' }}</strong
      >
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Guage:
      <strong
        >{{ guage.stitches }} stitches across {{ guage.rows }} rows</strong
      >
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Custom or Standard Measurements:
      <strong>{{ measurements.is_standard ? 'Standard' : 'Custom ' }}</strong>
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Chest Measurements: <strong>{{ getMeasurements('chest') }}</strong>
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Torso Length Measurements: <strong>{{ getMeasurements('torso') }}</strong>
    </li>
    <li class="list-group-item justify-content-between align-items-center">
      Sleeve Length Measurements:
      <strong>{{ getMeasurements('sleeve') }}</strong>
    </li>
  </ul>
</article>
