<h1>{{ title }}</h1>

<ng-container *ngIf="project$ | async; else loading">

  <div class="flex-container">

    <article>
      <knit-details-form
      [project]="project$ | async"
      (valueChanges)="onValueChanges($event)"
      (save)="onSave($event)"
      (cancel)="onCancel()">
        <h2>{{ title }}</h2>
        <p>Fill in the form to set up the basics of sweater construction</p>
      </knit-details-form>
    </article>

    <article class="results-container">
      <knit-details-table [project]="project$ | async">
        <h4>Project Details Overview</h4>
      </knit-details-table>

    </article>

  </div>

</ng-container>

<ng-template #loading>
  <div class="loading">
    <h3>Loading...</h3>
  </div>
</ng-template>