@import 'variables';
@import 'mixins';
@import 'layout';

header {
  @extend %container;
  display: grid;
  grid-template-columns: auto 4fr 1fr;
  grid-gap: 1rem;
  justify-items: flex-end;
  align-items: center;
  background-color: $primary;
  color: $white;

  h1 {
    margin-bottom: 0;
    grid-column: 1;
  }

  ul {
    @include flex(row, flex-end);
    grid-column: 2;
    margin-left: 1.5rem;
  }

  li {
    @include flex(column, flex-end);
    justify-content: flex-end;
    margin: 0 0.5rem;
    color: $white;
    &.active {
      a {
        color: $success;
      }
    }
    a {
      color: $white;
      transition: 250ms;
      &:hover {
        color: darken($success, 15%);
      }
    }
  }
}
