// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// Mixins are like Placeholders in that they are reusable code snippets.
// Unlike placeholders they can take arguments.
// Naming Convention: @mixin mixinName ($args)
// call it inside your CSS selector with '@include mixinName(args);'.

// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

